html{
    height: 100%;
}
body{
    height: 100%;
    width: 34rem;
    margin: auto;
    padding: 2rem;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap:2rem;
    justify-content: space-around;
    align-items: center;
}

.card{
    display: flex;
    justify-content: center;
    padding: 1rem;
    box-shadow: grey 0px 1px 8px 0px;
    border-radius: 10px;
}

.card .advice {
    text-align: center;
}

button {
    width: 19rem;
    height: 3rem;
    font-size: 1rem;
    background-color: #3882F6;
    border-radius: 5px;
    border-style: none;
    color: #F9FAF8;
}